/****************** NOTES *********************/
/* layout.css should contain general positioning on the page */
/* Apply to elements such as header, footer, nav, aside */
/* Classes and IDs can be included here */

nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}

