@import url("https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand");

* {
  font-family: times;
}

body {
  background: #fff;
}

nav,
article,
aside,
footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

hr {
  clear: both;
  border: 0;
  height: 13px;
  background-image: url("../img/hr.png");
}

h2 {
  margin-top: 50px;
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
}

main p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 30px;
  margin: 20px 0px;
}
aside {
  padding-top: 30px;
  padding-bottom: 60px;
}

aside h3 {
  padding-left: 100px;
  font-size: 1.6em;
  padding-bottom: 10px;
  color: #555;
}

aside p {
  padding-left: 100px;
  width: 65%;
  margin: 0;
  text-indent: 0;
}

aside button {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  padding: 15px 40px;
  background: #b8705a;
  color: #fff;
  font-size: 1.2em;
  border: none;
}

section hr {
  border-bottom: 1px solid #eee;
  height: 0;
}

footer section p {
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}

input {
  font-family: "Patrick Hand", cursive;
}
