#logo {
  padding-bottom: 25px;
  color: black;
  text-decoration: none;
}

#logo h1 {
  padding-left: 50px;
  font-family: "Yellowtail", cursive;
  font-size: 2.4em;
}

#slogan {
  width: 250px;
  padding-left: 55px;
  color: #a3a4a2;
  font-family: "Abel", sans-serif;
  font-size: 0.65em;
  text-transform: uppercase;
}

.layout-split-left {
  float: left;
}

.layout-split-right {
  float: right;
}

.social-icons > li {
  float: left;
  padding-right: 2px;
}

.recipe li {
  float: left;
  width: 40%;
}
