<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/pokemon/pikachu" method="POST">
    <fieldset>
      <h2>Add person</h2>
      <label for="name">Name?</label> <input type="text" name="name">
      <label for="naughtyOrNice">Nice?</label> <input type="text" name="naughtyOrNice">
      <label for="present">Present?</label> <input type="text" name="present">
      <input type="submit">
    </fieldset>
  </form>
</body>
</html>