<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Santas Workshop</title>
</head>
<body>
  <h1>Santa's Workshop</h1>
  <a href="/gifts">Gifts</a>
  <a href="/naughty-or-nice-list">Naughty or Nice List</a>
</body>
</html>