<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presents</title>
</head>
<body>
  <h1>Presents</h1>
  <h2> <%= from %> </h2>

  <ul>
    <% for(let i = 0; i < 7; i++){ %>
      <li><%= holidayPresents[i] %></li>
    <% } %>
  </ul>




  <ul>
    <% for(let i = 0; i < 30; i++){ %>

      <li>List of presents goes here</li>

    <% } %>
  </ul>
</body>
</html>